body {
  background-color: #1166cc;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 10px;
  line-height: 2em;
  text-align: center; }

a {
  border-bottom: 1px solid #237fed;
  color: #b1d1f8;
  text-decoration: none;
  -webkit-transition: 100ms all ease;
  -moz-transition: 100ms all ease;
  -ms-transition: 100ms all ease;
  -o-transition: 100ms all ease;
  transition: 100ms all ease; }
  a:hover, a:focus {
    border-color: white;
    color: #c8dffa; }

div {
  height: 500px;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 500px; }

h1, h2, nav {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 2em; }

h1 {
  font-size: 4em;
  margin-bottom: 1em; }

nav a {
  margin: 0 1em; }
