!!! 5
%html
  %head>
    %title Current
    %link( href="css/screen.css" rel="stylesheet" )
    %link( href="http://fonts.googleapis.com/css?family=Orienta" rel="stylesheet" )
  %body
    %div
      :markdown
        ![Current Logo](img/logo-current-black.png)
        # We're Current!
        ## Since 2008, crafting web applications in São Paulo, Brazil.

        oi@current.com.br
