!!! 5
%html
  %head
    %title Current
    %meta(charset="utf-8")
    %link(href="css/screen.css" rel="stylesheet")
    %link(href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
  %body
    %div
      %img(src="https://raw.github.com/oicurrent/branding/master/png/square-blue-512.png" alt="Current Logo" width="256px" height="256px")
      %h1 We're Current!
      %h2 Since 2008, crafting web applications in São Paulo, Brazil.
      %nav
        %a(href="mailto:hello@current.com.br") E-mail
        %a(href="http://facebook.com/currentdev") Facebook
        %a(href="http://twitter.com/currentdev") Twitter
        %a(href="http://github.com/current") GitHub
